<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add in a cat</title>
  </head>
  <body>
    <h1>Add your cat!</h1>
    <form action="/cats" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <br />
      <label for="description">description:</label>
      <input type="text" name="description" id="description" />
      <br />
      <label for="isCute">Cute?</label>
      <input type="checkbox" name="isCute" id="isCute" />
      <br />
      <button type="submit">Add Cat</button>
    </form>
    <a href="/cats">Back to see all Cats</a>
  </body>
</html>
